input, select, textarea, button {
  outline: none;
  margin-right: 5px;
}

textarea {
  resize: none;
}

input:not([type=submit]):not([type=file]):not([type=button]),
select, textarea {
  padding: 10px;
  font-size: 12px;
  border: 1px solid darken(@colorWhite, 10%);
  border-radius: 4px;
  color: @colorNiceBlack;
  background-color: @colorWhite;
  &:focus {
    border-color: darken(@colorWhite, 15%);
    background-color: darken(@colorWhite, 3%);
  }
}

input[type=button], input[type=submit], button {
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
  transition: color .2s ease, opacity .2s ease, background-color .2s ease;

  &.size-middle {
    padding: 8px 15px;
    font-size: 11px;
  }
  &.size-small {
    padding: 6px 12px;
    font-size: 10px;
  }
}

.button-group {
  display: inline-block;
  margin-right: 5px;
  input[type=button], input[type=submit], button {
    margin-right: -3px;
  }
  &.size-middle {
    input[type=button], input[type=submit], button {
      padding: 8px 15px;
      font-size: 11px;
    }
  }
  &.size-small {
    input[type=button], input[type=submit], button{
      padding: 6px 12px;
      font-size: 10px;
    }
  }
}
