@import "variables";
@import "reset";
@import "mixins";
@import "header";
@import "menu";
@import "forms";
@import "tables";
@import "buttons/flat-buttons";

* {
  font-family: 'Exo 2', 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  background: @colorLitherGray;
  color: #333;
  p {
    line-height: 16px;
  }
}

.header {
  flex: 0 0 40px;
}

main {
  display: flex;
  flex-flow: row nowrap;

  flex: 1;

  .menu {
    flex: 0 0 200px;
  }

  .body {
    flex: 1;
    margin: 20px;
    line-height: 16px;
  }

}

.container {
  margin-bottom: 20px;
  background-color: @colorWhite;
  border: 1px solid darken(@boxColorBorder, 10%);
  border-radius: 4px;

  & .caption {
    border-bottom: 1px solid darken(@colorWhite, 5%);
    padding: 20px;
  }

  & .content {
    padding: 20px;
  }

  & .footer {
    border-top: 1px solid darken(@colorWhite, 5%);
    padding: 20px;
    background-color: darken(@colorWhite, 2%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

}

.flash-messages {

  border: 0;
  padding: 15px;
  background-color: @colorLitherGray;
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 600;
  
  & * {
    color: @colorSmokyBlack;
  }

  &.error {
    background-color: darken(@colorCrimson, 10%);
  }
  &.notice {
    background-color: @colorGreenSheen;
  }
  &.warning {
    background-color: @colorSalmon;
  }
  &.info {
    background-color: @colorLightGray;
  }
  &.success {
    background-color: @colorBudGreen;
  }
}

.rounded-inner > * {
  border-radius: 15px;
}

.footer-site {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  flex: 0 0 50px;

  padding: 0 40px;
  background: #19242F;
  color: rgba(255, 255, 255, .6);
  font-size: 13px;
}