.menu {
  padding: 30px 15px;
  color: @colorWhite;
  background: @colorGray;

  h2 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 14px;
    color: @colorWhite;

    & a{
      color: @colorWhite;
    }

  }

  ul {
    list-style: none;
    margin: 5px 0 40px 0;

    li {

      a {
        color: darken(@colorWhite, 5%);
        display: block;
        font-size: 12px;
        cursor: pointer;
        margin: 0 -15px;
        padding: 5px 40px;

        &.active {
          .indent(@colorLightGray);
        }

        &:hover {
          color: @colorWhite;
          background-color: lighten(@colorGray, 5%);
        }

      }
    }
  }
}