input[type=button],
input[type=submit],
button {

  text-shadow: 1px 1px 1px #000;

  &.upper {
    text-transform: uppercase;
  }

  &:active {
    box-shadow: none !important;
    transform: translate(0px, 2px);
    padding-bottom: 10px;
  }

  table.table td > & {
    box-shadow: none;
    &:active {
      transform: none;
      padding-bottom: 0;
    }
  }

  .buttonSetting(@buttonColor: darken(@buttonColorGray, 10%), @shadowFactor: 10%) {
    box-shadow: inset 0px -5px 0 darken(@buttonColor, @shadowFactor);
    .gradient(@buttonColor, darken(@buttonColor, 2%));
    &:hover{
      .gradient(darken(@buttonColor, 2%), @buttonColor);
    }
  }

  &.success {
    .buttonSetting(@buttonColorSuccess, 5%);
  }

  &.notice {
    .buttonSetting(@buttonColorNotice);
  }

  &.info {
    .buttonSetting(@buttonColorInfo);
  }

  &.cancel {
    .buttonSetting(@buttonColorCancel);
  }

  &.warning {
    .buttonSetting(@buttonColorWarning, 15%);
  }

  &.error {
    .buttonSetting(@buttonColorError);
  }

  &.brown {
    .buttonSetting(@buttonColorBrown);
  }

  &.gray {
    .buttonSetting(@buttonColorGray);
  }

  &.dark {
    .buttonSetting(@buttonColorDark);
  }

}