* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
h1 {
  font-size: 36px;
  font-weight: 300;
  color: #ff4143;
}
h2 {
  font-size: 28px;
  font-weight: 400;
  color: #ff4143;
}
h3 {
  font-size: 20px;
  font-weight: 400;
  color: #8497A3;
}
a {
  color: #C0CCD3;
  text-decoration: none;
  -webkit-transition: color .2s ease, opacity .2s ease;
  transition: color .2s ease, opacity .2s ease;
  cursor: pointer;
}
a:hover {
  color: #a2b4be;
}
a:active {
  color: #93a8b4;
}
p {
  margin: 20px 0;
}
article a {
  text-decoration: underline;
}
article ul {
  margin: 20px 0;
  list-style-type: none;
}
article ul li {
  display: block;
  margin: 5px 0;
}
article ul li:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: -2px 10px 0 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #2b3d50;
  vertical-align: middle;
}
article ul li > ul {
  margin: 0 0 0 15px;
}
article ul li > ul li:before {
  -webkit-border-radius: 0;
          border-radius: 0;
  opacity: .7;
}
article ol {
  margin: 20px 0;
  list-style-type: none;
  counter-reset: list;
}
article ol li {
  display: block;
  margin: 5px 0;
}
article ol li:before {
  display: inline-block;
  counter-increment: list;
  content: counter(list) ".";
  margin-right: 10px;
  color: #2b3d50;
  opacity: .7;
}
article ol li > ol {
  margin: 0 0 0 20px;
}
article ol li > ol li:before {
  opacity: .5;
}
article pre {
  background: #fff;
  padding: 10px;
  margin: 20px 0;
  border: #e4e4e4 1px solid;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: auto;
  line-height: 12px;
}
article pre code {
  background: transparent;
  padding: 0;
  border: none;
  font-size: 10px;
}
article code {
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 3px 5px;
  border: #e4e4e4 1px solid;
  font-size: 10px;
}
article hr {
  display: block;
  width: 100%;
  height: 1px;
  background: #1F2E35;
  margin: 20px 0;
  border: none;
}
article blockquote {
  background: #fff;
  border: #e4e4e4 1px solid;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 20px;
  margin: 20px 0;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2F4550;
  color: #fff;
}
.header-logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background: #b90f3c;
  padding: 0 40px;
  line-height: 40px;
}
.header-logo a {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
.header-logo a:hover {
  color: #fff;
}
.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header-menu a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  opacity: .7;
  padding: 12px 20px;
  text-align: center;
}
.header-menu a:hover {
  opacity: 1;
  background-color: #385360;
}
.menu {
  padding: 30px 15px;
  color: #FFFFFF;
  background: #586F7C;
}
.menu h2 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
  color: #FFFFFF;
}
.menu h2 a {
  color: #FFFFFF;
}
.menu ul {
  list-style: none;
  margin: 5px 0 40px 0;
}
.menu ul li a {
  color: #f2f2f2;
  display: block;
  font-size: 12px;
  cursor: pointer;
  margin: 0 -15px;
  padding: 5px 40px;
}
.menu ul li a.active {
  background-color: #8497A3;
  border-top: 1px solid #53646e;
  border-bottom: 1px solid #8497a3;
  -webkit-box-shadow: inset 0 1px 3px rgba(61, 73, 81, 0.5);
          box-shadow: inset 0 1px 3px rgba(61, 73, 81, 0.5);
  display: block;
}
.menu ul li a:hover {
  color: #FFFFFF;
  background-color: #637c8b;
}
form input,
form select,
form textarea,
form button {
  margin-right: 10px;
}
input,
select,
textarea,
button {
  outline: none;
}
textarea {
  resize: none;
}
input:not([type=submit]):not([type=file]):not([type=button]),
select,
textarea {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #000501;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #fafafa, #FFFFFF);
  background-image: linear-gradient(to bottom, #fafafa, #FFFFFF);
}
input:not([type=submit]):not([type=file]):not([type=button]):focus,
select:focus,
textarea:focus {
  border-color: #d9d9d9;
}
input[type=button],
input[type=submit],
button {
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding-bottom: 12px;
}
input[type=button],
input[type=submit],
button {
  text-shadow: 1px 1px 1px #000;
}
input[type=button].success,
input[type=submit].success,
button.success {
  -webkit-box-shadow: inset 0px -5px 0 #01535e;
          box-shadow: inset 0px -5px 0 #01535e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#028090), to(#027786));
  background-image: -webkit-linear-gradient(top, #028090, #027786);
  background-image: linear-gradient(to bottom, #028090, #027786);
}
input[type=button].success:hover,
input[type=submit].success:hover,
button.success:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#027786), to(#028090));
  background-image: -webkit-linear-gradient(top, #027786, #028090);
  background-image: linear-gradient(to bottom, #027786, #028090);
}
input[type=button].success:active,
input[type=submit].success:active,
button.success:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  padding-bottom: 10px;
}
input[type=button].notice,
input[type=submit].notice,
button.notice {
  -webkit-box-shadow: inset 0px -5px 0 #58936a;
          box-shadow: inset 0px -5px 0 #58936a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#73AB84), to(#6da77e));
  background-image: -webkit-linear-gradient(top, #73AB84, #6da77e);
  background-image: linear-gradient(to bottom, #73AB84, #6da77e);
}
input[type=button].notice:hover,
input[type=submit].notice:hover,
button.notice:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6da77e), to(#73AB84));
  background-image: -webkit-linear-gradient(top, #6da77e, #73AB84);
  background-image: linear-gradient(to bottom, #6da77e, #73AB84);
}
input[type=button].notice:active,
input[type=submit].notice:active,
button.notice:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  padding-bottom: 10px;
}
input[type=button].info,
input[type=submit].info,
button.info {
  -webkit-box-shadow: inset 0px -5px 0 #76c17a;
          box-shadow: inset 0px -5px 0 #76c17a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#99D19C), to(#92ce95));
  background-image: -webkit-linear-gradient(top, #99D19C, #92ce95);
  background-image: linear-gradient(to bottom, #99D19C, #92ce95);
}
input[type=button].info:hover,
input[type=submit].info:hover,
button.info:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#92ce95), to(#99D19C));
  background-image: -webkit-linear-gradient(top, #92ce95, #99D19C);
  background-image: linear-gradient(to bottom, #92ce95, #99D19C);
}
input[type=button].info:active,
input[type=submit].info:active,
button.info:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  padding-bottom: 10px;
}
input[type=button].cancel,
input[type=submit].cancel,
button.cancel {
  -webkit-box-shadow: inset 0px -5px 0 #9e7c5e;
          box-shadow: inset 0px -5px 0 #9e7c5e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B2967D), to(#ae9177));
  background-image: -webkit-linear-gradient(top, #B2967D, #ae9177);
  background-image: linear-gradient(to bottom, #B2967D, #ae9177);
}
input[type=button].cancel:hover,
input[type=submit].cancel:hover,
button.cancel:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ae9177), to(#B2967D));
  background-image: -webkit-linear-gradient(top, #ae9177, #B2967D);
  background-image: linear-gradient(to bottom, #ae9177, #B2967D);
}
input[type=button].cancel:active,
input[type=submit].cancel:active,
button.cancel:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  padding-bottom: 10px;
}
input[type=button].gray,
input[type=submit].gray,
button.gray {
  -webkit-box-shadow: inset 0px -5px 0 #da9f87;
          box-shadow: inset 0px -5px 0 #da9f87;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E6BEAE), to(#e4b8a6));
  background-image: -webkit-linear-gradient(top, #E6BEAE, #e4b8a6);
  background-image: linear-gradient(to bottom, #E6BEAE, #e4b8a6);
}
input[type=button].gray:hover,
input[type=submit].gray:hover,
button.gray:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4b8a6), to(#E6BEAE));
  background-image: -webkit-linear-gradient(top, #e4b8a6, #E6BEAE);
  background-image: linear-gradient(to bottom, #e4b8a6, #E6BEAE);
}
input[type=button].gray:active,
input[type=submit].gray:active,
button.gray:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  padding-bottom: 10px;
}
input[type=button].dark,
input[type=submit].dark,
button.dark {
  -webkit-box-shadow: inset 0px -5px 0 #4b4b4b;
          box-shadow: inset 0px -5px 0 #4b4b4b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#5f5f5f));
  background-image: -webkit-linear-gradient(top, #646464, #5f5f5f);
  background-image: linear-gradient(to bottom, #646464, #5f5f5f);
}
input[type=button].dark:hover,
input[type=submit].dark:hover,
button.dark:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#646464));
  background-image: -webkit-linear-gradient(top, #5f5f5f, #646464);
  background-image: linear-gradient(to bottom, #5f5f5f, #646464);
}
input[type=button].dark:active,
input[type=submit].dark:active,
button.dark:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  padding-bottom: 10px;
}
input[type=button].warning,
input[type=submit].warning,
button.warning {
  -webkit-box-shadow: inset 0px -5px 0 #a87447;
          box-shadow: inset 0px -5px 0 #a87447;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c59b76), to(#c2966f));
  background-image: -webkit-linear-gradient(top, #c59b76, #c2966f);
  background-image: linear-gradient(to bottom, #c59b76, #c2966f);
}
input[type=button].warning:hover,
input[type=submit].warning:hover,
button.warning:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c2966f), to(#c59b76));
  background-image: -webkit-linear-gradient(top, #c2966f, #c59b76);
  background-image: linear-gradient(to bottom, #c2966f, #c59b76);
}
input[type=button].warning:active,
input[type=submit].warning:active,
button.warning:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  padding-bottom: 10px;
}
input[type=button].error,
input[type=submit].error,
button.error {
  -webkit-box-shadow: inset 0px -5px 0 #c20d1e;
          box-shadow: inset 0px -5px 0 #c20d1e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f12b3d), to(#f02235));
  background-image: -webkit-linear-gradient(top, #f12b3d, #f02235);
  background-image: linear-gradient(to bottom, #f12b3d, #f02235);
}
input[type=button].error:hover,
input[type=submit].error:hover,
button.error:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f02235), to(#f12b3d));
  background-image: -webkit-linear-gradient(top, #f02235, #f12b3d);
  background-image: linear-gradient(to bottom, #f02235, #f12b3d);
}
input[type=button].error:active,
input[type=submit].error:active,
button.error:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  padding-bottom: 10px;
}
* {
  font-family: 'Exo 2', 'Open Sans', sans-serif;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  background: #C0CCD3;
  color: #333;
}
body p {
  line-height: 16px;
}
.header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40px;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}
main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main .menu {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
main .body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
  line-height: 16px;
}
.container {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #93a3ae;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.container .caption {
  border-bottom: 1px solid #f2f2f2;
  padding: 20px;
}
.container .box {
  padding: 20px;
}
.container .footer-panel {
  border-top: 1px solid #f2f2f2;
  padding: 20px;
  background-color: #fafafa;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
}
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50px;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  padding: 0 40px;
  background: #19242F;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
}
