* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 5px;
  color: #58936a;
}
h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}
h2 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
}
h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
a {
  color: #3f6f2f;
  text-decoration: none;
  -webkit-transition: color .2s ease, opacity .2s ease;
  transition: color .2s ease, opacity .2s ease;
  cursor: pointer;
}
a:hover {
  color: #2b4b20;
  text-decoration: underline;
}
a:active {
  color: #203918;
}
a.light-link {
  color: #FFFFFF;
}
a.light-link:hover {
  color: #e6e6e6;
}
a.light-link:active {
  color: #d9d9d9;
}
p {
  margin: 20px 0;
}
article ul {
  margin: 20px 0;
  list-style-type: none;
}
article ul li {
  display: block;
  margin: 5px 0;
}
article ul li:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: -2px 10px 0 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #2b3d50;
  vertical-align: middle;
}
article ul li > ul {
  margin: 0 0 0 15px;
}
article ul li > ul li:before {
  -webkit-border-radius: 0;
          border-radius: 0;
  opacity: .7;
}
article ol {
  margin: 20px 0;
  list-style-type: none;
  counter-reset: list;
}
article ol li {
  display: block;
  margin: 5px 0;
}
article ol li:before {
  display: inline-block;
  counter-increment: list;
  content: counter(list) ".";
  margin-right: 10px;
  color: #2b3d50;
  opacity: .7;
}
article ol li > ol {
  margin: 0 0 0 20px;
}
article ol li > ol li:before {
  opacity: .5;
}
article pre {
  background: #fff;
  padding: 10px;
  margin: 20px 0;
  border: #e4e4e4 1px solid;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: auto;
  line-height: 12px;
}
article pre code {
  background: transparent;
  padding: 0;
  border: none;
  font-size: 10px;
}
article code {
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 3px 5px;
  border: #e4e4e4 1px solid;
  font-size: 10px;
}
article hr {
  display: block;
  width: 100%;
  height: 1px;
  background: #1F2E35;
  margin: 20px 0;
  border: none;
}
article blockquote {
  background: #fff;
  border: #e4e4e4 1px solid;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 20px;
  margin: 20px 0;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2F4550;
  color: #fff;
}
.header-logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background: #b90f3c;
  padding: 0 40px;
  line-height: 40px;
}
.header-logo a {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
.header-logo a:hover {
  color: #fff;
}
.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header-menu a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  opacity: .7;
  padding: 12px 20px;
  text-align: center;
}
.header-menu a:hover {
  opacity: 1;
  background-color: #385360;
}
.menu {
  padding: 30px 15px;
  color: #FFFFFF;
  background: #586F7C;
}
.menu h2 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
  color: #FFFFFF;
}
.menu h2 a {
  color: #FFFFFF;
}
.menu ul {
  list-style: none;
  margin: 5px 0 40px 0;
}
.menu ul li a {
  color: #f2f2f2;
  display: block;
  font-size: 12px;
  cursor: pointer;
  margin: 0 -15px;
  padding: 5px 40px;
}
.menu ul li a.active {
  background-color: #8497A3;
  border-top: 1px solid #53646e;
  border-bottom: 1px solid #8497a3;
  -webkit-box-shadow: inset 0 1px 3px rgba(61, 73, 81, 0.5);
          box-shadow: inset 0 1px 3px rgba(61, 73, 81, 0.5);
  display: block;
}
.menu ul li a:hover {
  color: #FFFFFF;
  background-color: #637c8b;
}
input,
select,
textarea,
button {
  outline: none;
  margin-right: 5px;
}
input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
  opacity: .7;
  cursor: not-allowed;
}
textarea {
  resize: none;
}
input[type=radio],
input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 3px solid transparent;
  -webkit-box-shadow: 0 0 0 2px #78bc61;
          box-shadow: 0 0 0 2px #78bc61;
  padding: 4px;
  margin-right: 4px;
  vertical-align: bottom;
}
input[type=radio]:checked,
input[type=checkbox]:checked {
  -webkit-box-shadow: 0 0 0 2px #53923e, inset 0 0 0 4px #53923e;
          box-shadow: 0 0 0 2px #53923e, inset 0 0 0 4px #53923e;
}
input[type=radio] {
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
select,
textarea {
  min-width: 300px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #D3D3D3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #000501;
  background-color: #FFFFFF;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=color]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
  border-color: #adadad;
  background-color: #fcfcfc;
}
input[type=text].error,
input[type=password].error,
input[type=url].error,
input[type=tel].error,
input[type=number].error,
input[type=color].error,
input[type=email].error,
select.error,
textarea.error {
  border-color: #df462c;
}
input[type=button],
input[type=submit],
input[type=reset],
button {
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 10px 20px;
  -webkit-transition: color 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
}
input[type=button].size-middle,
input[type=submit].size-middle,
input[type=reset].size-middle,
button.size-middle {
  padding: 8px 15px;
  font-size: 11px;
}
input[type=button].size-small,
input[type=submit].size-small,
input[type=reset].size-small,
button.size-small {
  padding: 6px 12px;
  font-size: 10px;
}
.button-group {
  display: inline-block;
  margin-right: 5px;
}
.button-group input[type=button],
.button-group input[type=submit],
.button-group input[type=reset],
.button-group button {
  margin-right: -3px;
}
.button-group.size-middle input[type=button],
.button-group.size-middle input[type=submit],
.button-group.size-middle input[type=reset],
.button-group.size-middle button {
  padding: 8px 15px;
  font-size: 11px;
}
.button-group.size-small input[type=button],
.button-group.size-small input[type=submit],
.button-group.size-small input[type=reset],
.button-group.size-small button {
  padding: 6px 12px;
  font-size: 10px;
}
.form-row .check-item {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}
.form-row > label {
  font-size: 14px;
}
.form-row .help-text {
  display: block;
  font-style: italic;
  color: #a0a0a0;
  font-size: 10px;
}
.form-default .form-row {
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.form-default .form-row > label {
  margin-bottom: 5px;
  display: block;
}
.form-default .form-row .check-item {
  margin-left: 4px;
}
.form-horizontal .form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-bottom: 20px;
}
.form-horizontal .form-row > label {
  -webkit-box-flex: 5;
  -webkit-flex: 5 0 30%;
      -ms-flex: 5 0 30%;
          flex: 5 0 30%;
  text-align: right;
  padding-right: 10px;
}
.form-horizontal .form-row > div {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  padding-left: 10px;
}
table.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 5px solid #cfd8dd;
}
table.table thead > tr > th {
  text-align: left;
  font-weight: 600;
}
table.table thead > tr > th,
table.table tfoot > tr > td {
  padding: 10px;
  background-color: #cfd8dd;
}
table.table tr > td {
  padding: 10px;
  border: 0;
}
table.table.striped tr:nth-child(even) > td {
  background-color: #edf0f2;
}
table.table.hovered tbody > tr:hover > td {
  background-color: #dee4e8;
}
table.table.caption-upper th {
  text-transform: uppercase;
}
input[type=button],
input[type=submit],
input[type=reset],
button {
  text-shadow: 1px 1px 1px rgba(0, 5, 1, 0.5);
  -webkit-border-radius: 0;
          border-radius: 0;
}
input[type=button].upper,
input[type=submit].upper,
input[type=reset].upper,
button.upper {
  text-transform: uppercase;
}
input[type=button].success,
input[type=submit].success,
input[type=reset].success,
button.success {
  background-color: #73AB84;
}
input[type=button].success:hover,
input[type=submit].success:hover,
input[type=reset].success:hover,
button.success:hover {
  background-color: #63a176;
}
input[type=button].success:active,
input[type=submit].success:active,
input[type=reset].success:active,
button.success:active {
  background-color: #58936a;
}
input[type=button].notice,
input[type=submit].notice,
input[type=reset].notice,
button.notice {
  background-color: #f2dba6;
  color: #000501;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
input[type=button].notice:hover,
input[type=submit].notice:hover,
input[type=reset].notice:hover,
button.notice:hover {
  background-color: #efd28f;
}
input[type=button].notice:active,
input[type=submit].notice:active,
input[type=reset].notice:active,
button.notice:active {
  background-color: #ecc979;
}
input[type=button].info,
input[type=submit].info,
input[type=reset].info,
button.info {
  background-color: #2e7b95;
}
input[type=button].info:hover,
input[type=submit].info:hover,
input[type=reset].info:hover,
button.info:hover {
  background-color: #286b81;
}
input[type=button].info:active,
input[type=submit].info:active,
input[type=reset].info:active,
button.info:active {
  background-color: #225b6e;
}
input[type=button].cancel,
input[type=submit].cancel,
input[type=reset].cancel,
button.cancel {
  background-color: #e5a100;
}
input[type=button].cancel:hover,
input[type=submit].cancel:hover,
input[type=reset].cancel:hover,
button.cancel:hover {
  background-color: #cc8f00;
}
input[type=button].cancel:active,
input[type=submit].cancel:active,
input[type=reset].cancel:active,
button.cancel:active {
  background-color: #b37d00;
}
input[type=button].warning,
input[type=submit].warning,
input[type=reset].warning,
button.warning {
  background-color: #d7614d;
}
input[type=button].warning:hover,
input[type=submit].warning:hover,
input[type=reset].warning:hover,
button.warning:hover {
  background-color: #d34e38;
}
input[type=button].warning:active,
input[type=submit].warning:active,
input[type=reset].warning:active,
button.warning:active {
  background-color: #c5422c;
}
input[type=button].error,
input[type=submit].error,
input[type=reset].error,
button.error {
  background-color: #e2003c;
}
input[type=button].error:hover,
input[type=submit].error:hover,
input[type=reset].error:hover,
button.error:hover {
  background-color: #c90035;
}
input[type=button].error:active,
input[type=submit].error:active,
input[type=reset].error:active,
button.error:active {
  background-color: #af002f;
}
input[type=button].brown,
input[type=submit].brown,
input[type=reset].brown,
button.brown {
  background-color: #B2967D;
}
input[type=button].brown:hover,
input[type=submit].brown:hover,
input[type=reset].brown:hover,
button.brown:hover {
  background-color: #a9896d;
}
input[type=button].brown:active,
input[type=submit].brown:active,
input[type=reset].brown:active,
button.brown:active {
  background-color: #9e7c5e;
}
input[type=button].green,
input[type=submit].green,
input[type=reset].green,
button.green {
  background-color: #78bc61;
}
input[type=button].green:hover,
input[type=submit].green:hover,
input[type=reset].green:hover,
button.green:hover {
  background-color: #69b44f;
}
input[type=button].green:active,
input[type=submit].green:active,
input[type=reset].green:active,
button.green:active {
  background-color: #5ea446;
}
input[type=button].gray,
input[type=submit].gray,
input[type=reset].gray,
button.gray {
  background-color: #b3b3b3;
  color: #000501;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
input[type=button].gray:hover,
input[type=submit].gray:hover,
input[type=reset].gray:hover,
button.gray:hover {
  background-color: #a6a6a6;
}
input[type=button].gray:active,
input[type=submit].gray:active,
input[type=reset].gray:active,
button.gray:active {
  background-color: #999999;
}
input[type=button].dark,
input[type=submit].dark,
input[type=reset].dark,
button.dark {
  background-color: #4d4d4d;
}
input[type=button].dark:hover,
input[type=submit].dark:hover,
input[type=reset].dark:hover,
button.dark:hover {
  background-color: #404040;
}
input[type=button].dark:active,
input[type=submit].dark:active,
input[type=reset].dark:active,
button.dark:active {
  background-color: #333333;
}
* {
  font-family: 'Exo 2', 'Open Sans', sans-serif;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  background: #C0CCD3;
  color: #333;
}
body p {
  line-height: 16px;
}
.header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40px;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}
main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main .menu {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
main .body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
  line-height: 16px;
}
.container {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #93a3ae;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.container .caption {
  border-bottom: 1px solid #f2f2f2;
  padding: 20px;
  font-size: 18px;
}
.container .content {
  padding: 20px;
}
.container .footer {
  border-top: 1px solid #f2f2f2;
  padding: 20px;
  background-color: #fafafa;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
}
.flash-messages {
  border: 0;
  padding: 15px;
  background-color: #C0CCD3;
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #131200;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
}
.flash-messages.error {
  background-color: #b90f3c;
  text-shadow: 1px 1px 1px #000501;
  color: #FFFFFF;
}
.flash-messages.notice {
  background-color: #e6b84c;
}
.flash-messages.warning {
  background-color: #d7614d;
  text-shadow: 1px 1px 1px #000501;
  color: #FFFFFF;
}
.flash-messages.info {
  background-color: #5db1cc;
}
.flash-messages.success {
  background-color: #58936a;
  text-shadow: 1px 1px 1px #000501;
  color: #FFFFFF;
}
.rounded-inner > * {
  -webkit-border-radius: 15px;
          border-radius: 15px;
}
.footer-site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50px;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  padding: 0 40px;
  background: #19242F;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
}
